<style>
    .bg-modals {
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
    position:absolute;
    top:0;
    display:flex;
    justify-content:center;
    align-items:center;
    /* display: none; */
    }
    .modal-contents{
    margin-top:100px;
    width:550px;
    height:330px;
    background-color:white;
    border-radius:4px;
    text-align:center;
    position: relative;
    }
    .close {
    position: absolute;
    top:0;
    right:14px;
    font-size:40px;
    transform: rotate(45deg);
    cursor:pointer;
    }
     #order_headings{
   margin-left:150px;
   font-size:20px;
   }
   #order_headingss{
   margin-left:150px;
   font-size:20px;
   }

   label{

   margin-left:80px;
   color:black;
   }
   .input{
   margin-left:70px;
   width:60%;
   }

   #bookingformdiv{
   border: 2px solid black;
   height:10%;
   margin-bottom:14px;
   width:70%;margin-left:80px;
   }

   #formdiv{
   border: 2px solid black;
   width:70%;
   margin-left:80px;
   margin-right:0px;
   margin-bottom:20px;
   }


         #cnic{
  -moz-appearance: textfield;
}
#cnic::-webkit-inner-spin-button {
  display: none;
}
#cnic::-webkit-outer-spin-button,
#cnic::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



        #phone{
  -moz-appearance: textfield;
}
#phone::-webkit-inner-spin-button {
  display: none;
}
#phone::-webkit-outer-spin-button,
#phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  </style>