<!doctype html>
<html lang="en">
{% include 'header.html' %}
{% load static %}
  <head>
  	<title>Contact Form 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	{% include 'css/Cstyle.css' %}
<style>
	 .bg-modals {
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
    position:absolute;
    top:0;
    display:flex;
    justify-content:center;
    align-items:center;
    /* display: none; */
    }
    .modal-contents{
    margin-top:100px;
    width:650px;
    height:360px;
    background-color:white;
    border-radius:4px;
    text-align:center;
    position: relative;
    }
    .close {
    position: absolute;
    top:0;
    right:14px;
    font-size:40px;
    transform: rotate(45deg);
    cursor:pointer;
    }
     #order_headings{
   margin-left:150px;
   font-size:20px;
   }
   #order_headingss{
   margin-left:150px;
   font-size:20px;
   }

</style>
	</head>
	<body>
	{% if d %}
	<br><br><br><br>
	<section class="ftco-section">
		<div class="container">

			<div class="row justify-content-center">
				<div class="col-lg-10 col-md-12">
					<div class="wrapper">
						<div class="row no-gutters">
							<div class="col-md-7 d-flex align-items-stretch">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Get in touch</h3>
									<div id="form-message-warning" class="mb-4"></div>
				      		<div id="form-message-success" class="mb-4">
				            Your message was sent, thank you!
				      		</div>
									<form method="POST"  action="/vehicles/contactus/" id="contactForm" name="contactForm">{% csrf_token %}
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<input type="text" class="form-control" name="name" id="name" placeholder="Name">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<input type="email" class="form-control" name="email" id="email" placeholder="Email">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<textarea name="message" class="form-control" id="message" cols="30" rows="7" placeholder="Message"></textarea>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="Send Message" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="col-md-5 d-flex align-items-stretch">
								<div class="info-wrap bg-primary w-100 p-lg-5 p-4">
									<h3 class="mb-4 mt-md-4">Contact us</h3>
				        	<div class="dbox w-100 d-flex align-items-start">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-map-marker"></span>
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Address:</span>  H-10 Islamabad</p>
					          </div>
				          </div>
				        	<div class="dbox w-100 d-flex align-items-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-phone"></span>
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
					          </div>
				          </div>
				        	<div class="dbox w-100 d-flex align-items-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-paper-plane"></span>
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@efarmingstore.com</a></p>
					          </div>
				          </div>
				        	<div class="dbox w-100 d-flex align-items-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-globe"></span>
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Website</span> <a href="#">efarmingstore.com</a></p>
					          </div>
				          </div>
			          </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}

{% if c %}

	<div style="margin-top:40px;" class="bg-modals">

  <div class="modal-contents">
<!--          <div class="close">+</div><br> <br>-->
            <div class="col-md-12 de" style="background-color:green;border:3px solid black;margin-top:20px;">
                                <h2 id ="order_headingss" style="font-size: 17px;margin-right:200px;color:white;"><b> Thanks You For Contact Us</b></h2>

             </div>
            <div>
                             <img style="margin-top:10px;height:150px;" src='{% static "vehicles/operator.png" %}'>
                             <p style="margin-top:10px;color:black;" ><b> Our Operator will contact you very soon. </b></p>
<!--                             <p style="margin-top:10px;color:black;" ><b> Complaint is .</b></p>-->
            </div>
           <form action="/contactUS">
               <button  type="submit" class="btn btn-primary cart">Dismiss</button>
            </form>

  </div>
</div>
{% endif %}

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

