    <!-- for_box -->
    {% load static %}
    <div class="for_box_bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 co-sm-l2">
                    <div class="for_box">
                        <a href="/products/home"><i><img src='{% static "images2/fertilizer.png" %}' alt="#"/></i></a>
                        <span>1996923</span>
                        <a href="/products/home"><h3>Fertilizers</h3></a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 co-sm-l2">
                    <div class="for_box">
                        <i><img src='{% static "images2/sleeping-pills.png" %}' alt="#"/></i>
                        <span>8000</span>
                        <a href="/products/home"><h3>Agricultural Medicines</h3></a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 co-sm-l2">
                    <div class="for_box">
                        <i><img src='{% static "images2/tractor.png" %}' alt="#"/></i>
                        <span>60002</span>
                        <h3>Agricultural Vehicles</h3>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 co-sm-l2">
                    <div class="for_box">
                        <a href="#"> <i><img src='{% static "images2/scythe.png" %}' alt="#"/></i></a>
                        <span>1623</span>
                        <h3>Agricultural Tools</h3>
                    </div>
                </div>
<!--               <div class="col-xl-3 col-lg-3 col-md-3 co-sm-l2">-->
<!--                    <div class="for_box">-->
<!--                        <i><img src='{% static "images2/scythe.png" %}' alt="#"/></i>-->
<!--                        <span>1623</span>-->
<!--                        <h3>Agricultural Tools</h3>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
    <!-- end for_box -->
