<!--    Slider start -->
{% include 'css/sliderCss.css' %}
{% load static %}
    <section class="slider_section">
        <div id="myCarousel" class="carousel slide banner-main" data-ride="carousel">
            <div class="carousel-inner">
				<div class="carousel-item active">
					<div class="row">
						<div  class="col-md-1">
						</div>
						<div  class="col-md-4">

							<img style="margin-top:14px;" src='{% static "vehicles/farmer.png" %}'>
					 	</div>

						<div  class="col-md-6">
						<br><br><br>
                            <h1 class="porductHeading" style="text-align:center;font-family: 'Impact', fantasy;font-size: 2.1rem;letter-spacing: 0.5rem;">E-Farming Store</h1><br>
							<h1 style="font-family: 'Impact', fantasy;font-size: 2.1rem;letter-spacing: 0.2rem;">FARM AND COMPANY</h1><br>
							<p style="color:black;letter-spacing: 0.2rem;"><b>FARM AND COMPANY</b></p><br>
							<p style="letter-spacing: 0.2rem;color:black;"><img style="height:20px;width:20px;" src='{% static "icon/1.png" %}'> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi  <img style="height:20px;width:20px;" src='{% static "icon/2.png" %}'></p>
						</div>
					</div>
                </div>




                <div class="carousel-item ">
					<div class="row">
						<div  class="col-md-1">
							<img style="margin-top:14px;" src='{% static "vehicles/24.png" %}'>
						</div>
						<div  class="col-md-4">

							<img style="margin-top:14px;" src='{% static "vehicles/operator.png" %}'>
					 	</div>

						<div  class="col-md-6">
						<br><br><br>
                            <h1 class="porductHeading" style="text-align:center;font-family: 'Impact', fantasy;font-size: 2.1rem;letter-spacing: 0.5rem;">E-Farming Store</h1><br>
							<h1 style="font-family: 'Impact', fantasy;font-size: 2.1rem;letter-spacing: 0.2rem;">Complaint Desk</h1><br>
							<p style="color:black;letter-spacing: 0.2rem;"><b>24/7 Service</b></p><br>
							<p style="letter-spacing: 0.2rem;color:black;"><img style="height:20px;width:20px;" src='{% static "icon/1.png" %}'> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi  <img style="height:20px;width:20px;" src='{% static "icon/2.png" %}'></p>
						</div>
					</div>
                </div>

                <div class="carousel-item">
                     <div class="row">
						 <div  class="col-md-1">
						</div>
						<div  class="col-md-4">
							<br><br>
							<img style="" src='{% static "vehicles/rider.png" %}'>
					 	</div>
							<div  class="col-md-6">
						<br><br><br>
                            <h1 class="porductHeading" style="text-align:center;font-family: 'Impact', fantasy;font-size: 2.1rem;letter-spacing: 0.5rem;">E-Farming Store</h1><br>
							<h1 style="font-family: 'Impact', fantasy;font-size: 2.1rem;letter-spacing: 0.2rem;">Home Delivery</h1><br>
							<p style="color:black;letter-spacing: 0.2rem;"><b>Rider</b></p><br>
							<p style="letter-spacing: 0.2rem;color:black;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi </p>
						</div>
					</div>
                </div>

				<div class="carousel-item">
                     <div class="row">
						 <div  class="col-md-1">
						</div>
						<div  class="col-md-4">
							<br><br>
							<img style="" src='{% static "vehicles/cash.png" %}'>
					 	</div>
							<div  class="col-md-6">
						<br><br><br>
                            <h1 class="porductHeading" style="text-align:center;font-family: 'Impact', fantasy;font-size: 2.1rem;letter-spacing: 0.5rem;">E-Farming Store</h1><br>
							<h1 style="font-family: 'Impact', fantasy;font-size: 2.1rem;letter-spacing: 0.2rem;">Cash on Delivery</h1><br>
							<p style="color:black;letter-spacing: 0.2rem;"><b>Payment</b></p><br>
							<p style="letter-spacing: 0.2rem;color:black;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi </p>
						</div>
					</div>
                </div>

				<div class="carousel-item">
                    <div class="row">
						<div  class="col-md-1">
						</div>
						<div  class="col-md-4">
							<img src='{% static "vehicles/branch.png" %}'>
					 	</div>
						<div  class="col-md-6">
							<br><br><br>
                            <h1 class="porductHeading" style="text-align:center;font-family: 'Impact', fantasy;font-size: 2.1rem;letter-spacing: 0.5rem;">E-Farming Store</h1><br>
							<h1 style="font-family: 'Impact', fantasy;font-size: 2.1rem;letter-spacing: 0.2rem;">Branches</h1><br>
							<p style="color:black;letter-spacing: 0.4rem;"><b>Our Branches</b></p><br>
							  <p style="letter-spacing: 0.2rem;color:black;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi </p>
						</div>
					</div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <i class='fa fa-angle-left'></i>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <i class='fa fa-angle-right'></i>
            </a>
        </div>
    </section>
<!--    Slider End -->
