{% extends 'headerp.html' %}


{% block body %}
<style>

             #cnic{
  -moz-appearance: textfield;
}
#cnic::-webkit-inner-spin-button {
  display: none;
}
#cnic::-webkit-outer-spin-button,
#cnic::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
<br><br><br><br> <br><br><br>

<div id="formcontiner" style="display:grid;" class="container">
    <div class="col my-4">
        <br><br>
        <h2>Enter your CNIC to check your Order Tracking IDs</h2>
        <form method="POST" id="trackerForm" action="/products/checkingcnicids/" >

            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="cnic">CNIC</label>
                    <input type="number" class="form-control" id="cnic" name="cnic" placeholder="CNIC" required><br>
                </div>
                <div style="margin-top:35px;" class="forgotbtn">
                     <button  id="subited" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

    <!--Form ENDS-->


<hr>
{% include 'js/forgottrackingid.js' %}
{% endblock %}