{% extends 'headerp.html' %}
{% load static %}
{% block body %}

{% include 'css/productview.css' %}

{% include 'windowloader.html' %}
{% if pv %}

<br><br><br><br><br><br>

<div id="prodview" class="bl" style="display:flex;">
<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <img src="/media/{{product.image}}" class="w-100">

            <hr>
            <a  id="open-popup-btn" href="#" style="color:white;"><b style="margin-left: 5px;"><button  class="btn btn-primary cart">Book Now</button></b></a>

        </div>
            <!--        col-md-4-->
        <div id="detail" class="col-md-8 de">
                <h5><b>{{product.product_name}}</b></h5><br><hr>
                <p><b> Price Rs : {{product.price}} only </b></p><br><hr>
          <p><b> Percentage Off : {{product.percent_off}} % <br><br><span class="note"><b>Note : This Offer is for limited time. So hurry up! </b></span></b></p><br><hr>

                <p><b> Description :</b></p><hr>
                <p class="desc"> {{product.desc}}</p><br><hr>
        </div>
    </div> <!--        row-->
</div>  <!--    container-->
</div>  <!--Product Details END-->

<!--order Form start-->
<br><br>
 <div id="Orderfrom" style="display:none" class="testbox">
      <form id="forms" action="/products/order/"  method = "POST" class="row g-3">
                    {% csrf_token %}
                 <input type="hidden" name="pname"  value="{{product.product_name}}" >
                 <input type="hidden" name="amount"  value="{{product.price}}" >

        <br/>
        <fieldset>
          <legend>Personal Details</legend>
               </fieldset>
        <br/>
        <fieldset>
           <div class="colums">
          <div class="item">
            <label for="fname"> Your Name<span>*</span></label>
            <input id="fname" type="text" name="fullname" required />
          </div>
          <div class="item">
            <label for="phone">Phone Numbe <span>*</span></label>
            <input id="address1" type="number"    name="phone" required />
          </div>
          <div class="item">
            <label for="address1">Address <span>*</span></label>
            <input id="applyjob" type="text"   name="address" required />
          </div>
          <div class="item">
            <label for="city">CNIC<span>*</span></label>
            <input id="citys" type="number"   name="cnic" required />
          </div>
          <div class="item">
             <label for="inputState" class="form-label">Quantity</label><br>
                   <select  style="margin-left:600px;height:0px;width:0px;background-color:white;margin-top:-20px;"  name="qty" id="inputState">
                       <option value= "1" >1</option>
                       <option value= "2" >2</option>
                       <option value= "3" >3</option>
                   </select>
          </div>
               <div class="item">
                   <label for="inputState" class="form-label">Select Your City</label>
                            <select  style="margin-left:600px;height:0px;width:0px;background-color:white;margin-top:-20px;"  name="city" id="inputState">
                                <option value="Karachi">Karachi</option>
                                <option value="Rawalpindi">Rawalpindi</option>
                                <option value="Lahore">Lahore</option>
                                <option value="Chakwal">Chakwal</option>
                            </select>
               </div>
          </div>
                </fieldset>
        <div class="btn-block">
          <button type="submit" >Submit</button>
        </div>
      </form>
    </div>
<!--Order Form end-->
{% endif %}

<!--Popup Card-->
{% if s %}
<div class="bg-modals">

  <div class="modal-contents">
<!--          <div class="close">+</div><br> <br>-->
            <div class="col-md-12 de" style="background-color:green;border:3px solid black;margin-top:20px;">
                                <h2 id ="order_headings" style="font-size: 17px;margin-right:200px;color:white;"><b>Your Order is Sccessfully Placed</b></h2>

             </div>
            <div>
                             <img style="margin-top:10px;" src='{% static "images2/tick.png" %}'>
                             <p style="margin-top:10px;color:black;" ><b> Your Tracking ID is {{id}}</b></p>
                             <p style="margin-top:10px;color:black;" ><b> Note your tracking ID for later use.</b></p>
            </div>
           <form action="/products/home/">
               <button style="margin-top:20px;" type="submit" class="btn btn-primary cart">Dismiss</button>
            </form>

  </div>
</div>
{% endif %}

{% include 'js/productview.js' %}

{% endblock %}

