{% extends 'headerp.html' %}
{% load static %}
{% block body %}
<!--Hotel Details-->
{% include 'css/productview.css' %}

{% include 'windowloader.html' %}
{% if pv %}

<br><br><br><br><br><br><br>
<hr>
<div id="prodview" class="bl" style="display:flex;">
<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <img src="/media/{{product.image}}" class="w-100">

            <hr>
            <a  id="open-popup-btn" href="#" style="color:white;"><b style="margin-left: 5px;"><button  class="btn btn-primary cart">Book Now</button></b></a>

        </div>
            <!--        col-md-4-->
        <div id="detail" class="col-md-8 de">
                <h5><b>{{product.product_name}}</b></h5><br><hr>
                <p><b> Price Rs : {{product.price}} only </b></p><br><hr>
          <p><b> Percentage Off : {{product.percent_off}} % <br><br><span class="note"><b>Note : This Offer is for limited time. So hurry up! </b></span></b></p><br><hr>

                <p><b> Description :</b></p><hr>
                <p class="desc"> {{product.desc}}</p><br><hr>
        </div>
    </div> <!--        row-->
</div>  <!--    container-->
</div>  <!--Product Details END-->

<!--order Form start-->
<br><br>
<div style="margin-left:15%;">
<div id="Orderfrom" style="display:none">
<div id="bookingformdiv" class="row g-3" style="">
      <hr>
    <h1 style="margin-left:30%;letter-spacing: 0.5rem;margin-top:10px;"><b>Order Form</b></h1>
        <hr>
  </div>
<form id="formdiv" action="/products/order/" style="border: 2px solid black;" method = "POST" class="row g-3">
        {% csrf_token %}
                        <input type="hidden" name="pname"  value="{{product.product_name}}" >
                        <input type="hidden" name="amount"  value="{{product.price}}" >

              <div  class="col-md-5">
                <label    for="inputEmail4" class="form-label"><b>Name</b></label>
                <input style="background-color:lightblue;" type="name" class="form-control" name="fullname" id="inputEmail4" placeholder="abc" required>
              </div>
              <div class="col-md-6">
                <label  for="inputPassword4" class="form-label"><b>Phone Number</b></label>
                <input style="background-color:lightblue;" type="phone" class="form-control" name="phone" id="inputPassword4" placeholder="+92" required>
              </div>
              <div class="col-12">
                <label  for="inputAddress" class="form-label"><b>Address</b></label>
                <input style="background-color:lightblue; width:92%; " type="text" class="form-control" name="address" id="inputAddress" placeholder="abc" required>
              </div>
              <div class="col-md-6">
                <label  for="inputCity" class="form-label"><b>CNIC</b></label>
                <input style="background-color:lightblue;" type="number" class="form-control" name="cnic" id="inputCity" placeholder="don't use  '-' " required>
              </div>
              <div class="col-md-4">
                <label for="inputState" class="form-label"><b>Quantity</b></label>
                <select style="margin-left:50px;width:80%;background-color:lightblue;height:40%;" name="qty" id="inputState" class="form-select">
                    <option value= "1" >1</option>
                    <option value= "2" >2</option>
                    <option value= "3" >3</option>
                </select>
              </div>
                <div class="col-md-4">
                    <label for="inputState" class="form-label"><b>Select Your City</b></label>
                    <select style="width:80%;background-color:lightblue;height:40%;" name="city" id="inputsState" class="form-select">
                       <option value="Karachi">Karachi</option>
                        <option value="Rawalpindi">Rawalpindi</option>
                        <option value="Lahore">Lahore</option>
                        <option value="Chakwal">Chakwal</option>
                    </select>
              </div>
              <div style="text-align: center;width: 300px;height: 100px;padding-top: 10px;" class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
 </form>
</div>
    </div>
<!--Order Form end-->
{% endif %}

<!--Popup Card-->
{% if s %}
<div class="bg-modals">

  <div class="modal-contents">
<!--          <div class="close">+</div><br> <br>-->
            <div class="col-md-12 de" style="background-color:green;border:3px solid black;margin-top:20px;">
                                <h2 id ="order_headings" style="font-size: 17px;margin-right:200px;color:white;"><b>Your Order is Sccessfully Placed</b></h2>

             </div>
            <div>
                             <img style="margin-top:10px;" src='{% static "images2/tick.png" %}'>
                             <p style="margin-top:10px;color:black;" ><b> Your Tracking ID is {{id}}</b></p>
                             <p style="margin-top:10px;color:black;" ><b> Note your tracking ID for later use.</b></p>
            </div>
           <form action="/products/home/">
               <button style="margin-top:20px;" type="submit" class="btn btn-primary cart">Dismiss</button>
            </form>

  </div>
</div>
{% endif %}

{% include 'js/productview.js' %}

{% endblock %}

