<!--    Slider start -->
{% load static %}
    <section class="slider_section">
        <div id="myCarousel" class="carousel slide banner-main" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
					<div class="row">
						<div  class="col-md-1">
						</div>
						<div  class="col-md-4">
<br>
							<img src='{% static "vehicles/fertilizerm.png" %}'>

					 	</div>

						<div  class="col-md-6">
						<br><br><br>
							<h1>E-Farming Store</h1>
							<span>Products Fertilizer</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi </p>
						</div>
					</div>
                </div>
                <div class="carousel-item">
                    <div class="row">
						<div  class="col-md-1">
						</div>
						<div  class="col-md-4">
							<br><br><br>
							<img style="height:430px;" src='{% static "vehicles/10.jpg" %}'>
					 	</div>
						<div  class="col-md-6">
						<br><br><br>
							<h1>E-Farming Store</h1>
							<span>Product Agricultural Chemical</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi </p>
						</div>
					</div>
                </div>
                <div class="carousel-item">
                     <div class="row">
						 <div  class="col-md-1">
						</div>
						<div  class="col-md-4">
							<br><br><br><br>
							<img style="" src='{% static "vehicles/15.jpg" %}'>
					 	</div>
						<div  class="col-md-6">
						<br><br><br>
							<h1>E-Farming Store</h1>
							<span>Product Seed</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi </p>
						</div>
					</div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <i class='fa fa-angle-left'></i>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <i class='fa fa-angle-right'></i>
            </a>
        </div>
    </section>
<!--    Slider End -->
